.angry-grid {
    display: grid; 
    grid-template-rows: 3fr 3fr 3fr 3fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    height: 100%;
  }
  
  #header-0 {
    background-color: #ff0000; 
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 8;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    
  }
  
  #search-1 {
    background-color: #05ff22; 
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 5;
  }
  
  #menu-2 {
    background-color: #6b0dc9; 
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 3;
    padding: 10px; /* Tambahkan padding agar lebih mudah dibaca */
  }
  
  #middle-3 {
    background-color: #009dff; 
    grid-row-start: 2;
    grid-column-start: 5;
    grid-row-end: 5;
    grid-column-end: 8;
  }
  
  #content-4 {
    background-color: #ff0a60; 
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 5;
    grid-column-end: 5;
  }
  
  .profile {
    text-align: center;
    margin-top: 5%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 5%;
  }
  